In [3]:
%matplotlib inline
import pandas as pd

In [10]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [32]:
titles = pd.read_csv('data/titles.csv', index_col=False, header=0)
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [38]:
cast = pd.read_csv('data/cast.csv', index_col=False, header = 0)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [39]:
len(titles)

214591

### What are the earliest two films listed in the titles dataframe?

In [45]:
titles.sort_values(['year']).head(2)

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [54]:
len(titles[titles.title == 'Hamlet'])

19

### How many movies are titled "North by Northwest"?

### When was the first movie titled "Hamlet" made?

In [63]:
titles[titles.title == 'Hamlet'].sort_values(['year']).head(1).year

100923    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [65]:
titles[titles.title == 'Treasure Island'].sort_values(['year'], ascending = False)

                  title  year
50325   Treasure Island  1999
191845  Treasure Island  1985
144139  Treasure Island  1973
118309  Treasure Island  1972
52435   Treasure Island  1950
89471   Treasure Island  1934
108475  Treasure Island  1920
48904   Treasure Island  1918

### How many movies were made in the year 1950?

In [68]:
len(titles[titles.year == 1950])

1036

### How many movies were made in the year 1960?

### How many movies were made from 1950 through 1959?

In [70]:
len(titles[(titles.year >= 1950) & (titles.year < 1960)])

12110

### In what years has a movie titled "Batman" been released?

In [82]:
titles[titles.title.str.contains('Batman')].sort_values('year').year.unique()

array([1943, 1949, 1964, 1965, 1966, 1967, 1973, 1989, 1991, 1992, 1993,
       1995, 1997, 2005, 2010, 2012, 2014, 2015, 2016, 2017])

### How many roles were there in the movie "Inception"?

In [87]:
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [89]:
len(cast[cast.title == 'Inception'])

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [92]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull())])

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [99]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull() == False)])

51

In [98]:
len(cast[(cast.title == 'Inception') & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [111]:
cast[(cast.title == 'North by Northwest') & (cast.n.isnull() == False)].sort_values('n').name

773496               Cary Grant
3084579         Eva Marie Saint
1292652             James Mason
2776446     Jessie Royce Landis
315343           Leo G. Carroll
2685171    Josephine Hutchinson
1504777             Philip Ober
1130557           Martin Landau
2167754           Adam Williams
1607029            Edward Platt
590702        Robert Ellenstein
2033529            Les Tremayne
411247          Philip Coolidge
1339004           Patrick McVey
180985             Edward Binns
1228229               Ken Lynch
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [114]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n').name

1513570      Laurence Olivier
288502          Michael Caine
330750         Alec Cawthorne
1299944    John (II) Matthews
2406762    Eve (III) Channing
1285278          Teddy Martin
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [116]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n').name

288503           Michael Caine
1147041               Jude Law
1602268          Harold Pinter
228757         Kenneth Branagh
330751     Alec (II) Cawthorne
2406761      Eve (II) Channing
2958823      Carmel O'Sullivan
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [118]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [119]:
# same thing

### How many "Hamlet" roles have been listed in all film credits through history?

In [123]:
len(cast[(cast.title == 'Hamlet')])

299

### How many people have played an "Ophelia"?

In [126]:
len(cast[(cast.character == 'Ophelia')])

96

In [130]:
cast[cast.character.str.startswith('Ophelia')]

,title,year,name,type,character,n
218099,The Merry Maids of Madness,2016,Amy Bourque,actor,Ophelia,11.0
362263,Jake Gets Paid,2009,Josie Chisholm,actor,Ophelia,NaN
768947,"Dogg's Hamlet, Cahoot's Macbeth",2005,Lucas Grabeel,actor,Ophelia,NaN
837265,Hamlet_X,2003,Marek Harloff,actor,Ophelia #5,NaN
1053255,Ophelia Learns to Swim,2000,Tony Ketcham,actor,Ophelia's Dad,9.0
1210154,11,2014,Catherine (IV) Lord,actor,Ophelia,NaN
1654809,Trading Places,1983,Jimmy Raitt,actor,Ophelia's Client,65.0
2163726,Baker,2011,Elle Wilcox,actor,Ophelia,NaN
2192011,Queen's Encounter,2011,Hiu Yee Wong,actor,Ophelia,NaN
2251212,Confession,1999,Paulina V. Ahlstrom,actress,Ophelia,NaN
2270190,Hamlet_X,2003,Kathrin Angerer,actress,Ophelia,NaN
2293292,Byt ili ne byt?,2015,Malika Baiseitova,actress,Ophelia,NaN
2298943,Khoon Ka Khoon,1935,Naseem Banu,actress,Ophelia,2.0
2304930,1 in 3,2010,Natasha Barron,actress,Ophelia Metz,NaN
2312650,Notorious But Nice,1933,Louise Beavers,actress,Ophelia,NaN
2312707,Virginia,1941,Louise Beavers,actress,Ophelia,10.0
2329436,Bad Bush,2009,Viva Bianca,actress,Ophelia,2.0
2338176,Senioritis,2010,Gen Blau,actress,Ophelia Grenson,NaN
2344664,Ophelia,2015,Flora Bonfanti,actress,Ophelia,NaN
2344743,Hamlet,1990,Helena Bonham Carter,actress,Ophelia,6.0
2362423,National Theatre Live: Hamlet,2015,Sian Brooke,actress,Ophelia,NaN
2363104,Ballet of Blood,2015,Marylyn Brooks,actress,Ophelia (Ballerina Model),NaN
2365677,Caged Fear,1991,Pamela (II) Brown,actress,Ophelia,5.0
2369742,The Tragedy of Hamlet Prince of Denmark,2007,Beth Buchanan,actress,Ophelia,NaN
2376131,Army from Hell,2014,Jennie Bushnell,actress,Ophelia,NaN
2379038,Bolden!,2015,Jessica Marie C.,actress,Ophelia Franklin: Town's People Core,NaN
2386478,Kitchen Hamlet,2009,Shaina Cantino,actress,Ophelia,5.0
2402865,Hamlet,1973,Linda Certain,actress,Ophelia,NaN
2404253,Hamlet,2009,Melissa Chalsma,actress,Ophelia,4.0
2434700,The Heyday of the Insensitive Bastards,2014,June Conniff,actress,Ophelia,NaN
...,...,...,...,...,...,...
3074154,Shoot the Messenger,2016,Synthia Roy,actress,Ophelia,NaN
3078866,Un Amleto di meno,1973,Isabella Russo,actress,Ophelia,NaN
3083499,"Hamlet, Prince of Denmark",1997,Britt Sady,actress,Ophelia,NaN
3090198,Monday Mourning,2011,Maya Sanderson,actress,Ophelia Jones,2.0
3091449,Hamlet,1911,Emilie Sannom,actress,Ophelia,4.0
3100601,Die Vervlakste Tweeling,1969,Margaret Schiess,actress,Ophelia,8.0
3107680,Doctor in Trouble,1970,Angela Scoular,actress,Ophelia O'Brien,4.0
3121412,Bill Shakespeare in Hollywood,2011,C.C. Sheffield,actress,Ophelia,NaN
3121442,Hamlet (II),2007,Tallulah Sheffield,actress,Ophelia,NaN
3127684,Ta'ut Bamispar,1979,Ophelia Shtruhl,actress,Ophelia,NaN
3130691,Human Touch,2004,Delia Silvan,actress,Ophelia,14.0
3131797,Hamlet,1948,Jean Simmons,actress,Ophelia - and Daughter,17.0
3134802,Hamlet,1954,Mala Sinha,actress,Ophelia,1.0
3138466,Waiting for Ophelia,2009,Amy Sloan,actress,Ophelia,5.0
3141551,After Romeo & Juliet,2012,Lisa Marie Smith,actress,Ophelia,NaN
3163444,Dolphins,2007,Lauren Steventon,actress,Ophelia James,2.0
3165066,Hamlet,2000,Julia Stiles,actress,Ophelia,7.0
3165937,Hamlet_X,2003,Isabelle Stoffel,actress,Ophelia #3,NaN
3176129,Pride,2007,Carol Sutton,actress,Ophelia (Andre's Mother),14.0
3189629,Zompyre Rising,2011,Kristy Taylor,actress,Ophelia,24.0
3206251,Hamlet_X,2003,Laura Tonke,actress,Ophelia #4,NaN
3238095,Gamlet,1964,Anastasiya Vertinskaya,actress,Ophelia,5.0
3245057,"Hamlet, Son of a Kingpin",2015,Ingrid Vollset,actress,Ophelia,NaN
3255166,Ruby Skye P.I.: The Haunted Library,2012,Samantha Wan,actress,Ophelia Bedelia,6.0
3255167,Ruby Skye P.I.: The Spam Scam,2010,Samantha Wan,actress,Ophelia Bedelia,NaN
3257398,D.C. Cab,1983,Marsha Warfield,actress,Ophelia,7.0
3258031,Creature,2011,Jennifer Lynn Warren,actress,Ophelia,12.0
3263117,Hamlet_X,2003,Cordelia Wege,actress,Ophelia #6,NaN
3282413,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0
3288623,Misbehaviour,2008,Alexandra Woodward,actress,Ophelia Lachance,3.0

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?